.cost-show {
  display: none;
  margin-bottom: 15px;
  font-size: 30px;
}

.jumbotron {
  border: 5px solid black;
  margin-top: 20px;
  color: Red;
  text-align: center;
  font-family: cursive;
}
.container {
  background-color: #87b6bc;
  margin-top: 30px;
}
h2 {
  font-size: 45px;
}
